.modal-header
  h3.modal-title Add a New Version
.modal-body
  form.form-horizontal(novalidate='')
    fieldset
      // Version Name
      .form-group
        label.col-md-4.control-label(for='name') Version Name
        .col-md-7
          input.form-control.input-md(
            ng-model='version.name',
            minlength='1',
            required
            )
          span.help-block This must match the 
            a(href='http://semver.org/') semver format
            | . 
            em ex. 1.0.1
          span.help-block(
            ng-hide="version.channel.name === 'stable'"
            ) You are using a 
            span.text-warning pre-release channel
            | , it 
            strong.text-success must
            |  follow the version triple, preceded by a dash. It may additionally be followed by a 
            span.text-info whole number.
            br
            em ex. 1.0.1
              span.text-warning -{{version.channel.name}}.
              span.text-info 1
      // Select Channel
      .form-group
        label.col-md-4.control-label(for='channel') Channel
        .col-md-7
          select.form-control(
            ng-model='version.channel.name',
            name='channel',
            ng-options='o as o for o in availableChannels',
            required
            )
          hr
          span.help-block You will not be able to change the above later.
      // Change Notes
      .form-group
        label.col-md-4.control-label(for='notes') Change Notes
        .col-md-7
          textarea.form-control(ng-model='version.notes', name='notes')
.modal-footer
  div
    button.btn.btn-warning(type='button', ng-click='addVersion()') Add Version
    button.btn.btn-danger(type='button', ng-click='closeModal()') Cancel
