form(name='assetForm', role='form')
  .modal-header
    h3.modal-title Add an asset to {{ vm.versionName }}
  .modal-body
    .form-horizontal
      // Asset File
      .form-group
        label.col-md-4.control-label(for='name') Asset Name
        .col-md-7
          | {{ vm.asset.file.name }}
          span(ng-hide="vm.asset.file.name.length").help-block.text-gray Auto-populated with filename
      // Select platform
      .form-group
        label.col-md-4.control-label(for='platform') Platform
        .col-md-7
          select.form-control(
            ng-model='vm.asset.platform',
            name='platform',
            ng-options='key as value for (key, value) in vm.availablePlatforms',
            required
            )
      // Select File
      .form-group
        label.col-md-4.control-label(for='file') File
        .col-md-7
          input.form-control(
            type='file',
            ngf-select='',
            ngf-change='vm.updateAssetName()',
            ng-model='vm.asset.file',
            name='file',
            ngf-pattern="'.dmg,.zip,.AppImage,.deb,.rpm,.tar.gz,.exe,.nupkg'",
            ngf-max-size='500MB',
            required='',
            )
      .form-group(
        ng-if='vm.installerFiletypes[vm.asset.platform].length'
        )
        label.col-md-4.control-label Installer
        .col-md-7
          | {{ vm.installerFiletypes[vm.asset.platform].join(', ') }}
      .form-group(
        ng-if='vm.updateFiletypes[vm.asset.platform].length'
        )
        label.col-md-4.control-label Update
        .col-md-7
          | {{ vm.updateFiletypes[vm.asset.platform].join(', ') }}
  .modal-footer
    .modal-footer-note.col-md-7
      span.text-gray(ng-show='!vm.asset.file.progress')
        | This file will be live once uploaded.
      uib-progressbar.progress-striped.active(
        type="success"
        value='vm.asset.file.progress',
        ng-show='vm.asset.file.progress >= 0'
        )
        strong {{ vm.asset.file.progress }}%
    div
      button.btn.btn-warning(type='button', ng-disabled="!assetForm.$valid" ng-click='vm.addAsset()') Upload
      button.btn.btn-danger(type='button', ng-click='vm.closeModal()') Cancel
